.App {
  text-align: center;
  background-color: #f7f2ee;
}

.create-button {
  background-color: transparent;
  font-family: "Roboto";
  font-size: 15px;
  width: 140px;
  height: 40px;
  box-shadow: 1px 1px black;
  margin-top: 2px;
  margin-left: -1200px;
  outline: none !important;
}

.create-post-page {
  text-align: center;
  background-color: #f7f2ee;
}

.create-post-box {
  width: 80%;
  height: 500px;
  font-size: 25px;
}

.post-button {
  background-color: transparent;
  font-family: "Roboto";
  font-size: 15px;
  width: 150px;
  height: 50px;
  box-shadow: 1px 1px black;
  outline: none !important;
  margin-top: 1%;
  margin-left: 70%;
}

.read-post-page {
  display: inline;
  background-color: #f7f2ee;
  text-align: center;
}

.title-reading-block {
  font-size: 35px;
  font-family: "Playfair Display";
  font-weight: bold;
  color: #3c256c;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.comment-block {
  font-size: 23px;
  font-family: "Martel";
  color: black;
  width: 45%;
  text-align: center;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
}
